<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body 
style="background-color: rgba(0, 0, 0, 0.689); color: white; align-content: center; text-align: center; height: 100vh;">
    <h1>Add FAQS</h1>
    <form action="/api/faqs" method="POST">

    <input required type="text" 
    placeholder="Enter FAQS Question here" 
    name="question" />
    <br>

    <textarea 
    style="height: 200px; width: 200px;"
    type="text" 
    placeholder="type your answer" 
    name="answer"></textarea>
    <button> Add </button>
    </form>

    <h2>List of FAQS</h2>
    <% for(data of listFAQS){ %>
    <form method="POST" action="/api/faqs/<%=data._id%>?_method=delete">
        <p><%=data.question%></p>
        <a href='/getFAQS/<%=data._id%>' style="border: 2px solid black; text-decoration: none; color: black; background-color: white; padding: 2px;" >Edit</a>
        <button type="submit" style="border: 2px solid black; text-decoration: none; color: black; background-color: white;  padding: 2px">Delete</button>
    </form>
    <%}%>
</body>
</html>